:root {
  --bg-color: #ffffff;
  --text-black-color: #000000;
  --text-white-color: #ffffff;
  --main-color: #228E5C;
  --logo-color: #FFF3CD;
  --th-color-: #d2d2d2;
  --tr-light-color: #F6F6F6;
  --tr-dark-color: #ffffff;
  --table-border-color: #A6A6A6;
  --link-color: #0000FF;
  --bg-nav-color: #228E5C;
  --text-nav-color: #ffffff;
  --text-h2-color: #545454;
  --footer-hover-color: #228E5C;
  --bg-nav-manu-color: #24A46A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body.dark {
  --main-color: #dadada;
  --bg-color: #151515;
  --logo-color: #CCF3F6;
  --text-black-color: #BFBFBF;
  --text-white-color: #ffffff;
  --bg-nav-color: #343A40;
  --text-h2-color: #A6A6A6;
  --th-color-: #0D0D0D;
  --tr-light-color: #494747;
  --tr-dark-color: #262626;
  --table-border-color: #EEEEEE;
  --link-color: #00BCD4;
  --bg-nav-manu-color: #424A51;
  --footer-hover-color: #00BCD4;
}

body {
	direction: ltr;
  margin: 0;
  background: var(--bg-color);
  color: var(--text-black-color);
}

nav {
	display: flex;
	flex-direction: row-reverse; /* RTL: nav links on the right */
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-top: clamp(1.125rem, 0.9306rem + 0.7778vw, 1.5625rem);
	padding-bottom: clamp(1.125rem, 0.9306rem + 0.7778vw, 1.5625rem);
  padding-left: clamp(1.25rem, 0.9722rem + 1.1111vw, 1.875rem);
  padding-right: clamp(1.25rem, 0.9722rem + 1.1111vw, 1.875rem);
  background-color: var(--bg-nav-color);
  font-size: clamp(0.75rem, 0.4rem + 0.8615vw, 1.1rem);
	color: var(--text-nav-color);
}

.right-section, 
.left-section {
	display: flex;
	align-items: center;
	gap: clamp(2rem, 0.5rem + 3.6923vw, 3.5rem); /* spacing between logo and nav */
}

.logo {
	color: var(--logo-color);
  font-size: clamp(1.2rem, 0.9778rem + 0.8889vw, 1.7rem);
  font-weight: 900;
}

.nav-links {
	display: flex;
	gap: clamp(1rem, 0rem + 2.4615vw, 2rem);
}

.nav-links a:link,
.nav-links a:visited {
  position: relative;
	color: var(--text-white-color);
	text-decoration: none;
	font-weight: 500;
	transition: color 0.5s ease; /* Smooth transition */
}

/* Create the line */
.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0; /* Use right instead of left for RTL */
  width: 0;
  height: 2px;
  background-color: var(--text-nav-color);
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a.active::after {
  width: 100%; /* Keep the underline visible */
}

.day-night span {
  height: clamp(1.875rem, 1.5972rem + 1.1111vw, 2.5rem);
  width: clamp(1.875rem, 1.5972rem + 1.1111vw, 2.5rem);
  border-radius: 50%;
  background: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: clamp(1rem, 0.9444rem + 0.2222vw, 1.125rem);
  transition: background 0.3s ease, color 0.3s ease;
}

/* Menu icon section*/
.menu-icon {
	display: none;
	font-size: 24px;
  background: var(--bg-nav-colorcolor);
  color: #ffffff;
	cursor: pointer;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

section {
  padding: 3rem 2.2% 3rem;
}

table {
	width: 100%;
	border-collapse: collapse;
  margin-top: 2px;
}

td {
	padding: 12px 10px 12px 10px;
	text-align: justify;
  font-size: clamp(0.875rem, 0.8194rem + 0.2222vw, 1rem);
  line-height: 1.5rem;
}

th {
	padding: 15px 10px 15px 10px;
	text-align: left;
	font-size: clamp(1rem, 0.9444rem + 0.2222vw, 1.125rem);
	font-weight: 700;
	background-color: var(--th-color-);
	color: var(--main-color);
}

tr:nth-of-type(even) {
	background-color: var(--tr-light-color);
}

tr:nth-of-type(odd) {
	background-color: var(--tr-dark-color);
}

td, tr, th {
	border: 1px solid var(--table-border-color);
}

a:link {
	color: var(--link-color);
	text-decoration: none;
}

a:visited {
	color: var(--link-color);
	text-decoration: none;
}

ul {
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: clamp(1.875rem, 1.5972rem + 1.1111vw, 2.5rem);
  padding-right: 10px;
	list-style-type: disc;
}

li {
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: clamp(0.5rem, 0.3889rem + 0.4444vw, 0.75rem);
  padding-right: 0px;
  text-align: justify;
}

ul li::marker {
	font-size: clamp(1.3rem, 1.2111rem + 0.3556vw, 1.5rem);
}

.container1 {
	margin: 0 auto 20px auto;
  padding: 0 10px;
}

.container1 h1 {
  padding-bottom: clamp(0.75rem, 0.3889rem + 1.4444vw, 1.5625rem);
	font-weight: bold;
	line-height: 2rem;
	color: var(--main-color);
	font-size: clamp(1.3rem, 0.8556rem + 1.7778vw, 2.3rem);
}

.container1 h2 {
	font-weight: 500;
	color: var(--text-h2-color);     
	line-height: 1.5em;
	font-size: clamp(1rem, 0.7778rem + 0.8889vw, 1.5rem);
}

.container1 a {
	font-size: clamp(0.9rem, 0.7222rem + 0.7111vw, 1.3rem);
  text-decoration: underline;
}

.container2 {
	margin: 40px auto 0 auto;
}

.container2 h2 {
	padding: 0 0 10px 10px;
	font-weight: bold;
	color: var(--main-color);
	font-size: clamp(1.3rem, 0.8556rem + 1.7778vw, 2.3rem);  
  border-bottom-width: clamp(0.1875rem, 0.1319rem + 0.2222vw, 0.3125rem);
  border-bottom-style: solid;
  border-bottom-color: var(--main-color);
}


.sub-title {
	margin: 0;
	padding: 30px 10px 8px 10px;
	text-align: left;
	font-size: clamp(1.3rem, 1.2111rem + 0.3556vw, 1.5rem);
}

/*------------------------------ Footer section design CSS ---------------------------- */
.footer1 {
  position: relative; 
  direction: ltr;
  width: 100%;
  padding: 2.5rem 3% 1rem 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  margin-top: auto; /* Pushes footer to the bottom of content */
}

/* Footer text */
.footer-text {
  font-size: clamp(0.8rem, 0.7234rem + 0.3404vw, 1rem);
}

/* Scroll-to-top button inside footer */
.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--text-black-color);
  border: 1.5px solid var(--footer-hover-color);
  box-shadow: 0 0 .8rem var(--footer-hover-color);
  border-radius: .5rem;
  transition: .5s ease;
  animation: scalePulse 1.5s infinite;
  position: relative;
  overflow: hidden; /* Ensure the pseudo-element stays within bounds */
}

/* Pseudo-element behind the icon */
.footer-iconTop a::before {
  content: '';
  position: absolute;
  top: 100%;  /* Start from below the button */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--footer-hover-color); 
  transition: top 0.4s ease;
  z-index: -1; /* Keep it behind the icon */
}

/* Hover state for button */
.footer-iconTop a:hover {
  animation-play-state: paused;
  box-shadow: none;
  color: var(--text-white-color);
}

/* Hover effect on the pseudo-element */
.footer-iconTop a:hover::before {
  top: 0; /* Slide the pseudo-element from bottom to top */
}

.footer-iconTop a i {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Responsive menu for small screens */
@media (max-width: 650px) {
  section {
    padding: 7rem 2.2% 3rem;
  }
  nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1001;
  }
  .menu-icon {
    display: block;
  }
  .right-section {
    gap: 20px;
  }
  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 100%; /* directly below nav */
    right: -100%;
    width: 65vw; /* default: half the screen width */
    height: 100vh;           /* Full viewport height */
    max-width: 100vw;
    background: var(--bg-nav-manu-color);
  /*background: #24A46A;*/
    text-align: center;
    transition: right 0.4s ease-in-out;
    padding: 50px 0;
  /*border-top: 1px solid green;*/
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
    gap: 2rem;
  }
  .nav-links.show {
    right: 0;
  }
  .nav-links a {
    display: inline-block !important;
    font-size: 18px;
  }
  .nav-links a::after,
  .nav-links a:hover::after,
  .nav-links a.active::after {
    display: none !important;
  }
}

@media (max-width: 556px) {
  .footer1 {
    flex-direction: column-reverse;
  }
  .footer1 p {
    text-align: center;
    margin-top: 1rem;
  }
}

  /* For very small screens: 0px to 450px => full width */
  @media (max-width: 450px) {
    .nav-links {
      width: 100vw;
    }
  }